body {
    margin: 0;
    background-color: rgba(24, 88, 239,.5 );
}

h1 {
    text-align: center;
}

nav {
    background-color:rgba(0, 0, 0) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.navbar-links a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.navbar-links li{
    list-style-type: none;
    display: inline;
    margin: auto 10px;
}

.rightnavside {
     display: inline;
   
}